/* Basic Style */
body {
  width: 100%;
  background-color: #f8f8f8;
  font-family: "Lato", sans-serif;
  font-size: 62.5%;                 /* 10px */
  color: #333;    
}
.wrapper-page {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

/* Header Block Style */

.header {
  width: 100%;
  max-width: 50rem;
}
.logo {
  display: inline-block;
  width: 70%;
  margin: 0 auto;
  text-transform: capitalize;
  text-align: center;
}
.logo_hidden {
  display: none;
}
.header__figure {
  width: 100%;
}
.header__image {
  display: block;
  width: 100%;
  max-width: 50rem;
  height: auto;
  overflow: hidden;
}
.header__figcaption {
  width: 100%;
  text-align: right;
}
.link {
  font-family: "Luminari", fantasy, cursive;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Form Styles */
.form {
  display: block;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;  
}
.form__fieldset {
  border: none;
}
.form__legend {
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 3rem 0 1rem;
  border-bottom: 2px solid #333;  
  font-size: 1.5rem;
  font-weight: 900;
  color: #333;  
  text-transform: uppercase;
}
.form__line {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.form__line_separated {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
}
.form__input {
  display: inline-block;
  flex-basis: 56%;
  flex-grow: 2;
  flex-shrink: 2;
  padding-right: .8rem;
  padding-left: .8rem;
  border: 1px solid #ddd;
  border-radius: .75rem;
  background: #fff;
  font-size: 1.8rem;
  line-height: 1;  
  color: #888;
}
.form__input:focus {
  color: #333;
}
.form__button {
  flex-basis: 6rem;
  flex-grow: 1;
  flex-shrink: 1;
  border: none; 
  outline: none;
  background: none;
  font-size: 1.5rem;
  color: #888;  
  text-transform: capitalize;
  cursor: pointer;
}
.form__button:hover,
.form__button:focus {
  color: #0fc57c;
}
.form__checkbox {
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 1;
  flex-shrink: 1;  
}
.form__image-button {
  display: block;
  width: 6rem;
  height: 2rem;
  border: none;
  outline: none;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
  cursor: pointer;
}
.form__image-button:hover,
.form__image-button:focus {
  fill: #cf2323;
  transform: rotateZ(0);
}