/* Basic Style */
body {
  width: 100%;
  background-color: #f8f8f8;
  font-family: "Lato", sans-serif;
  font-size: 62.5%;                 /* 10px */
  color: #333;    
}
.wrapper-page {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

/* Header Block Style */

.header {
  width: 100%;
  max-width: 50rem;
  padding-bottom: 2rem;
}
.logo {
  display: inline-block;
  width: 70%;
  margin: 0 auto;
  text-transform: capitalize;
  text-align: center;
}
.logo_hidden {
  display: none;
}
.header__figure {
  width: 100%;
}
.header__image {
  display: block;
  width: 100%;
  max-width: 50rem;
  height: auto;
  overflow: hidden;
}
.header__figcaption {
  width: 100%;
  text-align: right;
}
.link {
  font-family: "Luminari", fantasy, cursive;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Form Styles */
.form {
  display: block;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;  
}
.form__fieldset {
  border: none;
}
.form__legend {
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 3rem 0 1rem;
  border-bottom: 2px solid #333;  
  font-size: 1.5rem;
  font-weight: 900;
  color: #333;  
  text-transform: uppercase;
}
.form__line {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.form__line_separated {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
}
.form__input {
  display: inline-block;
  flex-basis: 56%;
  flex-grow: 3;
  flex-shrink: 2;
  /*height: 21px;*/
  padding-right: .8rem;
  padding-left: .8rem;
  border: 1px solid #ddd;
  border-radius: .75rem;
  background: #fff;
  font-size: 1.8rem;
  line-height: 1;  
  color: #888;
}
.form__input:focus {
  color: #333;
}
.form__button {
  /*width: 6rem;*/
  flex-basis: 6rem;
  flex-grow: 1;
  flex-shrink: 1;
  border: none; 
  outline: none;
  background: none;
  font-size: 1.5rem;
  color: #888;  
  text-transform: capitalize;
  cursor: pointer;
}
.form__button:hover,
.form__button:focus {
  color: #0fc57c;
}
.form__checkbox {
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 1;
  flex-shrink: 1;  
}
.form__image-button {
  display: block;
  width: 6rem;
  height: 2rem;
  border: none;
  outline: none;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
  cursor: pointer;
}
.form__image-button:hover,
.form__image-button:focus {
  color: #cf2323;
  transform: rotateZ(0);
}





/*.centered-main-page-element {     ---> .form
  display: block;
  margin: 0 auto;
  width: 500px;  
}
.task {                           ---> .form__input
  display: inline-block;
  width: 56%;  
  flex-grow: 1
}
.task-row-wrapper {               ---> .form__line
  display: flex;
}
button {                            ----> .form__button
  width: 60px;
  border: none; 
  background: none;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #888;  
  cursor: pointer;
  outline: none;
}
button:hover {                      ----> .form__button:hover
  color: #3a3a3a;
}*/

/* Heading */
/*h3,
label[for='new-task'] {
  margin: 0;
  padding: 30px 0 10px;
  border-bottom: 2px solid #333;  
  font-size: 15px;
  font-weight: 700;
  color: #333;  
  text-transform: uppercase;
}
input[type="text"] {
  height: 21px;
  margin: 0;
  padding: 0 9px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1;  
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}

/* New Task 
label[for='new-task'] {
  display: block;
  margin-bottom: 20px;
}
input#new-task {
  width: 318px;
}
p > button:hover {
  color: #0fc57c;
}

/* Task list 
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;  
  overflow: hidden;
}
li > * {
  vertical-align: middle;
}

li > input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 10px;
}
li > label {
  width: 226px;
  box-sizing: border-box;
  padding-left: 10px;  
  font-size: 18px;  
}
li > input[type="text"] {
  width: 226px;
}
li > button.delete:hover {
  color: #cf2323;
}
button.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
button.delete img:hover {
  transform: rotateZ(0);
}

/* Completed 
ul#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task 
ul li input[type=text] {
  display: none;
}

ul li.editMode input[type=text] {
  display: inline-block;
  width: 224px;
}

ul li.editMode label {
  display: none;
}